<div class="row">
  <div class="col-md-6">
    <h1> <%= @user.name %> </h1>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="true">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="false">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-friends-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-controls="pills-friends" aria-selected="false">Friends</a>
      </li>
    </ul>
  </div>
</div>


<div class="tab-content mt-4" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline-tab">
    <% if @user.posts.any? %>
      <% @user.posts.each do |post| %>
        <div class="card shadow-sm mt-3">
          <div class="card-body">
            <%= link_to post.user.name, user_path(post.user), class: "h5 d-inline text-dark text-decoration-none" %>
            <a class="float-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h text-muted"></i>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Edit', edit_post_path(post), class: "dropdown-item" %>
              <%= link_to 'Delete', post_path(post), method: :delete, class: "dropdown-item",
                  data: { confirm: "Are you sure?"}%>
            </div>
            <p class="small"> <%= post.created_at.strftime('%b %e at %l:%M %p') %> </p>
            <p> <%= post.body %> </p>
            <hr>

            <% if post.likers.include?(current_user) %>
              <%= link_to unlike_post_path(post), class: "text-decoration-none text-dark" do %>
                <i class="fas fa-thumbs-up text-primary"></i> <%= pluralize(post.likers.count, 'like') %>
              <% end %>
            <% else %>
              <%= link_to like_post_path(post), class: "text-decoration-none text-dark" do %>
                <i class="far fa-thumbs-up"></i> <%= pluralize(post.likers.count, 'like') %>
                <% end %>
            <% end %>

            <%= link_to "#{pluralize(post.comments.count, 'comment')}", post_path(post),
            class: "text-muted float-right" %>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="list-group shadow-sm mb-3">
      <div class="list-group-item">
        <span class="text-muted"> No posts yet </span>
      </div>
    </div>
    <% end %>

  </div>
  <div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>About</h5>
        <p>About will go here</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">
    <div class="list-group shadow-sm mb-3">
      <% if @user.friends.any? %>
        <% @user.friends.each do |friend| %>
          <div class="list-group-item">
            <%= link_to friend.name, user_path(friend), class: "h6 text-dark text-decoration-none" %>
          </div>
        <% end %>
      <% else %>
      <div class="list-group-item">
        <span class="text-muted">No friends yet</span>
      </div>
      <% end %>
    </div>
  </div>
</div>
