<h1 class="mb-4">Recent Posts</h1>
<div class="card shadow-sm">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <%= link_to post.user.name, user_path(post.user), class: "h5 d-inline text-dark text-decoration-none" %>
      <% if post.user == current_user %>
        <a class="float-right" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h text-muted"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Edit', edit_post_path(post), class: "dropdown-item" %>
          <%= link_to 'Delete', post_path(post), method: :delete, class: "dropdown-item",
              data: { confirm: "Are you sure?"}%>
        </div>
      <% end %>

      <p class="small"> <%= post.created_at.strftime('%b %e at %l:%M %p') %> </p>
      <p> <%= post.body %> </p>

      <hr>

      <% if post.likers.include?(current_user) %>
        <%= link_to unlike_post_path(post), class: "text-decoration-none text-dark" do %>
          <i class="fas fa-thumbs-up text-primary"></i> <%= pluralize(post.likers.count, 'like') %>
        <% end %>
      <% else %>
        <%= link_to like_post_path(post), class: "text-decoration-none text-dark" do %>
          <i class="far fa-thumbs-up"></i> <%= pluralize(post.likers.count, 'like') %>
          <% end %>
      <% end %>

      <%= link_to "#{pluralize(post.comments.count, 'comment')}", post_path(post),
      class: "text-muted float-right" %>
    </div>
  </div>
<% end %>
